name: Main

on:
    workflow_dispatch:
        # inputs:
            # pr-number: 
            #     description: 'Pull request number to comment on.'
            #     required: true
    pull_request:
        types: [opened, edited, reopened]

jobs:
    comment-on-pr:
        runs-on: ubuntu-latest
        steps:
          - shell: python
            run : |
              print("Hello, this is a placeholder for commenting on a PR.")